# dependencies
node_modules/

# next
.next/
out/

# production
.worker/
dist/
build/
tsconfig.tsbuildinfo
public/images/generated/

# env
.env
.env.*
!.env.example

# testing
coverage/
test-results/
playwright-report/
storybook-static/

# misc
.DS_Store
*.log
